<div class="sidebar" [ngClass]="{ 'collapsed': !isSidebarVisible }" [@fadeInOut]>
  <ul>
  

<hr>
<hr>
    <!-- Add similar structure for other menu items -->
 
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <span class="menu-icon material-icons">dashboard</span>
        <span class="menu-text" *ngIf="isSidebarVisible">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" (click)="toggleSubmenu()">
        <span class="menu-icon material-icons">people</span>
        <span class="menu-text" *ngIf="isSidebarVisible">Employee</span>
        <span class="sub-menu-icon" [ngClass]="{ 'sub-menu-open': isSubmenuOpen }" *ngIf="isSidebarVisible">
          <mat-icon>{{ isSubmenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
        </span>
      </a>
      <ul *ngIf="isSubmenuOpen && isSidebarVisible" class="sub-menu">
        <li>
          <a routerLink="/employees" routerLinkActive="active">
            <span class="menu-icon material-icons">details</span>
            <span class="menu-text">Employees</span>
          </a>
        </li>
        <li>
          <a routerLink="/profile" routerLinkActive="active">
            <span class="menu-icon material-icons">people</span>
            <span class="menu-text">Profile</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
