.sidebar {
  background-color: #131313;
  width: 240px;
  padding: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;

    a {
      display: flex;
      align-items: center;
      padding: 10px;
      text-decoration: none;
      color: #d4d4d4;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;

      .menu-icon {
        font-size: 24px;
        margin-right: 15px;
        transition: font-size 0.3s ease, margin-right 0.3s ease;
      }

      .menu-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: opacity 0.3s ease;
      }

      &:hover {
        background-color: #f1f1f1;
        color: #6c6c6c;
      }

      &.active {
        background-color: #f1f1f1;
        color: #000;
      }
    }

    .sub-menu {
      list-style: none;
      margin-left: 0px; /* Indent submenu items */
      margin-top: 5px;
      padding: 0;

      li a {
        padding: 8px 10px; /* Smaller padding for submenu items */
        font-size: 14px; /* Smaller font size */
      }
    }
    .sub-menu-icon {
      margin-left: 20px; 
      margin-top: 9px;/* Increase the space between the arrow and text */
      transition: margin-left 0.3s ease;
    }
    
  }

  &.collapsed {
    width: 80px;

    .menu-text {
      display: none; /* Hide text when collapsed */
    }

    .menu-icon {
      margin-right: 0; /* Remove margin in collapsed state */
    }

    .sub-menu {
      margin-left: 10px; /* Less indentation for collapsed sidebar */
    }
  }
}
