<div style="display: flex; align-items: center; justify-content: space-between; gap: 1rem;">
    <div class="block-category-title text-xl text-900 font-medium p-3">EMPLOYEES</div>
    <div class="p-toolbar-group-center p-d-flex p-ai-center p-jc-start p-gap-2 h-3rem">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText class="p-inputtext p-component p-rounded min-h-0 " placeholder="Search" />
        </span>
    </div>
</div>
  
<hr>
<div class="col-3 md:col-6 xl:col-3 p-3">
    <div class="surface-card shadow-2 border-round p-4">
        <div class="flex surface-border ">
            <img src="https://img.freepik.com/free-photo/afro-man_1368-2735.jpg?ga=GA1.2.386245186.1699518153&semt=ais_hybrid" style="width: 70px;height: 70px" class="mr-3" />
            <div class="flex flex-column align-items-start">
                <span class="text-xl text-900 font-medium mb-1">Yadhu Varghese</span>
                <span class="bg-purple-50 text-purple-400 border-round inline-flex py-1 px-2 text-sm">Manager</span>
            </div>
        </div>
    </div>
</div>
 