<div style="display: flex; align-items: center; justify-content: space-between; gap: 1rem;">
    <div class="block-category-title text-xl text-900 font-medium p-3">EMPLOYEES</div>
    <div class="p-toolbar-group-center p-d-flex p-ai-center p-jc-start p-gap-2">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText class="p-inputtext p-component p-rounded" placeholder="Search" />
        </span>
    </div>
    
</div>
<hr>
<div class="col-3 md:col-6 xl:col-4 p-3">
    <div class="surface-card shadow-2 border-round p-3">
        <div class="flex surface-border ">
            <img src="assets/images/blocks/avatars/circle/avatar-m-1.png" style="width: 70px;height: 70px" class="mr-3" />
            <div class="flex flex-column align-items-start">
                <span class="text-xl text-900 font-medium mb-1">James McAvoy</span>
                <span class="bg-purple-50 text-purple-400 border-round inline-flex py-1 px-2 text-sm">Project Manager</span>
            </div>
        </div>
    </div>
</div>
 