<div class="surface-ground">
    <div class="grid">
        <div class="col-12 md:col-6 xl:col-4 p-3">
            <div class="surface-card shadow-2 border-round p-4">
                <div class="flex border-bottom-1 surface-border pb-4">
                    <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" style="width: 70px;height: 70px" class="mr-3" />
                    <div class="flex flex-column align-items-start">
                        <span class="text-xl text-900 font-medium mb-1">Lindsay Connor</span>
                        <span class="text-600 font-medium mb-2">Test Engineer</span>
                        <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span>
                    </div>
                </div>
                <div class="flex justify-content-between pt-4">
                    <button pButton pRipple label="View" icon="pi pi-search" class="p-button-outlined p-button-secondary w-6 mr-2"></button>
                    <button pButton pRipple label="Follow" icon="pi pi-user-plus" class="p-button-outlined p-button-secondary w-6 ml-2"></button>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-4 p-3">
            <div class="surface-card shadow-2 border-round p-4">
                <div class="flex border-bottom-1 surface-border pb-4">
                    <img src="assets/images/blocks/avatars/circle/avatar-m-1.png" style="width: 70px;height: 70px" class="mr-3" />
                    <div class="flex flex-column align-items-start">
                        <span class="text-xl text-900 font-medium mb-1">James McAvoy</span>
                        <span class="text-600 font-medium mb-2">Project Manager</span>
                        <span class="bg-purple-50 text-purple-400 border-round inline-flex py-1 px-2 text-sm">Contributor</span>
                    </div>
                </div>
                <div class="flex justify-content-between pt-4">
                    <button pButton pRipple label="View" icon="pi pi-search" class="p-button-outlined p-button-secondary w-6 mr-2"></button>
                    <button pButton pRipple label="Follow" icon="pi pi-user-plus" class="p-button-outlined p-button-secondary w-6 ml-2"></button>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-4 p-3">
            <div class="surface-card shadow-2 border-round p-4">
                <div class="flex border-bottom-1 surface-border pb-4">
                    <img src="assets/images/blocks/avatars/circle/avatar-f-2.png" style="width: 70px;height: 70px" class="mr-3" />
                    <div class="flex flex-column align-items-start">
                        <span class="text-xl text-900 font-medium mb-1">Aisha Jones</span>
                        <span class="text-600 font-medium mb-2">Designer</span>
                        <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span>
                    </div>
                </div>
                <div class="flex justify-content-between pt-4">
                    <button pButton pRipple label="View" icon="pi pi-search" class="p-button-outlined p-button-secondary w-6 mr-2"></button>
                    <button pButton pRipple label="Follow" icon="pi pi-user-plus" class="p-button-outlined p-button-secondary w-6 ml-2"></button>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-4 p-3">
            <div class="surface-card shadow-2 border-round p-4">
                <div class="flex border-bottom-1 surface-border pb-4">
                    <img src="assets/images/blocks/avatars/circle/avatar-m-2.png" style="width: 70px;height: 70px" class="mr-3" />
                    <div class="flex flex-column align-items-start">
                        <span class="text-xl text-900 font-medium mb-1">Roberto Fox</span>
                        <span class="text-600 font-medium mb-2">QA Engineer</span>
                        <span class="bg-orange-50 text-orange-400 border-round inline-flex py-1 px-2 text-sm">Author</span>
                    </div>
                </div>
                <div class="flex justify-content-between pt-4">
                    <button pButton pRipple label="View" icon="pi pi-search" class="p-button-outlined p-button-secondary w-6 mr-2"></button>
                    <button pButton pRipple label="Follow" icon="pi pi-user-plus" class="p-button-outlined p-button-secondary w-6 ml-2"></button>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-4 p-3">
            <div class="surface-card shadow-2 border-round p-4">
                <div class="flex border-bottom-1 surface-border pb-4">
                    <img src="assets/images/blocks/avatars/circle/avatar-f-4.png" style="width: 70px;height: 70px" class="mr-3" />
                    <div class="flex flex-column align-items-start">
                        <span class="text-xl text-900 font-medium mb-1">Jenny Wilson</span>
                        <span class="text-600 font-medium mb-2">Scrum Master</span>
                        <span class="bg-purple-50 text-purple-400 border-round inline-flex py-1 px-2 text-sm">Contributor</span>
                    </div>
                </div>
                <div class="flex justify-content-between pt-4">
                    <button pButton pRipple label="View" icon="pi pi-search" class="p-button-outlined p-button-secondary w-6 mr-2"></button>
                    <button pButton pRipple label="Follow" icon="pi pi-user-plus" class="p-button-outlined p-button-secondary w-6 ml-2"></button>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-4 p-3">
            <div class="surface-card shadow-2 border-round p-4">
                <div class="flex border-bottom-1 surface-border pb-4">
                    <img src="assets/images/blocks/avatars/circle/avatar-f-5.png" style="width: 70px;height: 70px" class="mr-3" />
                    <div class="flex flex-column align-items-start">
                        <span class="text-xl text-900 font-medium mb-1">Claire Flores</span>
                        <span class="text-600 font-medium mb-2">Developer</span>
                        <span class="bg-teal-50 text-teal-400 border-round inline-flex py-1 px-2 text-sm">Subscriber</span>
                    </div>
                </div>
                <div class="flex justify-content-between pt-4">
                    <button pButton pRipple label="View" icon="pi pi-search" class="p-button-outlined p-button-secondary w-6 mr-2"></button>
                    <button pButton pRipple label="Follow" icon="pi pi-user-plus" class="p-button-outlined p-button-secondary w-6 ml-2"></button>
                </div>
            </div>
        </div>
    </div>
</div>