.nav-link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    transition: background-color 0.01s ease, color 0.01s ease;
  }
  
  .nav-link.active {
    color: white; /* Text color for active links */
    background-color: #0B5ED7; /* Background color for active links */
    font-weight: bold; /* Optional: make active link text bold */
  }
  